/* body {
  background-color: #2a095f;
  color: #fbefff;
} */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  background-color: #2a095f;
  color: #fbefff;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}
footer {
  min-height: 30px;
  background-color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer > p {
  vertical-align: middle;
}
